{%extends 'base_student.html'%}
{%block body%}
<section id="content">
  <!--heading-->
  <h1>CONTACT US</h1>
  <!--contact box-->
  <div class="container">
<div class="row">
  <div class="col-sm">
    <div class="box">
      <h2><img src=" /images/kashish.png " >Kashish Singh </h2>
      <p>  kashishvir@gmail.com</p>
      <a href="https://github.com/kashishvir">  GitHub</a>
      <a href="https://www.linkedin.com/in/kashish-singh-701b1b1b6/">  LinkedIn</a>
      <a href="https://www.instagram.com/_kash62227/">Instagram</a>
      <br>
    </div>
    <br>
  </div>
  <div class="col-sm">
    <div class="box">
      <h2><img class="mx-2 mt-1" src="/images/chirag.jpeg" alt="chirag">Chirag Gupta    </h2>

      <p>Chiraggupta708@gmail.com</p>
      <a href="https://github.com/chiraggupta708">GitHub</a>
      <a href="https://www.linkedin.com/in/chirag-gupta-3955011b9/">LinkedIn</a>
      <a href="https://www.instagram.com/chirag__3005/?hl=en">Instagram</a>
      <br>
    </div>
    <br>
  </div>
  <div class="col-sm">
    <div class="box">
      <h2> <img src="/images/darin.png" alt="darin">Darin Peter   </h2>

      <p>darin.carvalho@gmail.com</p>
      <a href="https://github.com/darincarvalho">GitHub</a>
      <a href="https://www.linkedin.com/in/darin-carvalho-a34714154">LinkedIn</a>
      <a href="https://instagram.com/mr.legendanny?igshid=14fzvxlzjymk7">Instagram</a>
      <br>
    </div>

  </div>
</div>
</div>
  <div class="line"></div>

</section>
{%endblock%}
