 <div class="field">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required>
              </div>
              <div class="field">
                <input type="password" name="pass1" id="pass1" class="form-control" placeholder="Password" required>
              </div>
              <div class="field">
                <input type="password" name="pass2" id="pass2" class="form-control" placeholder="Confirm password" required>
              </div>