{%extends 'base_teacher.html'%}
{%block body%}
<h1>TEACHER'S DASHBOARD</h1>


<div class="bigcontainer">
<div class="box">
	<h2><img src="https://www.kindpng.com/picc/m/105-1055656_account-user-profile-avatar-avatar-user-profile-icon.png" >TEACHER</h2>
	<p>NAME:{{d.fname}} {{d.lname}}</p>
	<p>Email:{{d.user.email}}</p>
	<br>
</div>
<br>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				 <img src="https://images.unsplash.com/photo-1521714161819-15534968fc5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
				 <div class="card-body">
				 	<a href="{%url 'handleFile' %}" class="btn" style="background-color: #51adcf">Study Material</a>
				</div>
			</div>
			<br>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				 <img src="https://images.unsplash.com/photo-1521714161819-15534968fc5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
				 <div class="card-body">
				 <a href="{%url 't_video'%}" class="btn" style="background-color: #51adcf">Videos</a>
				</div>
			</div>
			<br>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				 <img src="https://images.unsplash.com/photo-1547480053-7d174f67b557?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
				 <div class="card-body">
				 <a href="https://rocky-island-08894.herokuapp.com/Grade%203" class="btn" style="background-color: #51adcf">To Do List</a>
				</div>
			</div>
			<br>
		</div>

	</div>
</div>
	</div>
{%endblock%}