{%extends 'base_teacher.html'%}
{%block body%}
<h1>GRADE-5</h1>
{%for video in videos  %}
	  <div class="container">
		  <div class="col-md" style="width: 740px;height: 600px;background: #000;padding: 0">
						<div class="d-flex card-header msg_head" style="background: #1B1B1B; width: 740px;">
							<div class="d-flex bd-highlight">

								<div class=" user_info" style = "color:white">
								<h5 class="text-centre mt-2 mb-2">TOPIC:{{video.topic}} </h5>
									<h6 class="text-centre  " >GRADE:{{video.grade}}</h6>
								</div>
							</div>
							<form class="ml-auto" action="video.html" method="post">
			  				{%csrf_token%}
				<input type="hidden" value="{{ video.id }}" name="abcd" id="abcd">
					<button style=" border-color:#aa3a3a; color:#aa3a3a; margin-top:15px" type="submit"><b>DELETE</b></button>

		  </form>
						</div>

    <video class="embed-responsive embed-responsive-16by9" controls="controls">
        <source src = '/images/{{video.video}}' type="video/mp4">
	</video>
			  <div class="not_found" style="margin-left:280px; margin-top:30px">
                <a href="{%url 'handleComment' video.id%}">COMMENTS</a>
              </div>

					</div>
		  </div>
{%endfor%}
{%endblock%}
